@use './partials/variables' as *;

@import 'node_modules/@fontsource/bebas-neue/index.css';

body {
  font-family: $main-font;
  background-color: $secondary-color;
  color: $primary-color;
  text-transform: lowercase;
}